@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, rgb(239, 246, 255), rgb(224, 231, 255));
    background-attachment: fixed;
  }
  
  #root {
    min-height: 100vh;
  }
}
